body{
    background-color: antiquewhite;
}
.caja{
    background-color: saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 300px;
}
.caja1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    background-color: salmon;
}
.caja2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    background-color: sandybrown
}
.caja3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    background-color:seagreen;
}
.caja4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    background-color: springgreen
}
.caja5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    background-color: slategray;
}
.caja6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85%;
    background-color: slateblue;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}